* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img{
  display: block;
  width: 100%;
}
.wrapper{
  overflow: hidden;
}
.slide{
  display: flex;
}
slide:hover{
  will-change: transform;
}
.slide li{
  flex-shrink: 0;
  max-width: 80vh;
  max-width: 800px;
  margin: 0 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  overflow: hidden;

  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}

.slide li.active{
  opacity: 1;
  transform: scale(1);
}
